<div class="row py-lg-3 text-center ">
	<div class="col-lg-6 col-md-8 mx-auto">
		<h1 class="fw-light">Data Encryption</h1>
		<p class="lead text-muted">Provide your *PUBLIC KEY* and the *FILE* you want to encrypt.</p>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 col-md-8 mx-auto pt-lg-5 pb-lg-3" >
		<div id="encrypt-form">
			<div class="mb-3">
				<label for="publickey" class="form-label">Public Key</label>
				<input type="file" class="form-control" id="publickey" aria-describedby="publickeyHelp">
				<div id="publickeyHelp" class="form-text">Your Public Key Goes Here</div>
			</div>
			
			<div class="mb-3">
				<label for="rawfile" class="form-label">Your File</label>
				<input type="file" class="form-control" id="rawfile">
				<div id="rawfileHelp" class="form-text">This is What You're Encrypting</div>
			</div>
			
			<a onclick="encrypt()" class="btn btn-primary">Encrypt</a>
		</div>
	</div>
</div>